@import 'top';
@import 'vars';


.accordion {
    width: 100%;
    border-left: $sizeBorder solid $corf1;

    a {
        color: $corTexto;
        font-family: $fontTitulo;
    }
}

.accordion:hover {
    border-left: $sizeBorder solid lighten($corprimario, 10%) ;
    a {
        text-decoration: none;
        color: $corprimario;
    }
}

.active {
    border-left: $sizeBorder solid $corprimario;

    a {
        color: $corprimario
    }
}

@media (min-width: 992px) {
    .col-md-4 {
        margin: 1.2rem 0%
    }
}
