@import 'vars';

.centro {
    width: 100%;
    height: 100%;
    margin-top: 10rem;
    margin-right: 10rem;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

h1 {
    font-size: 8rem;
    color: $corprimario;
    font-family: 'Montserrat';
}

h2 {
    font-size: 2rem;
    color: $corsegunda;
    font-family: 'Open Sans';
}

h3 {
    font-size: 1rem;
    color: $corsegunda;
    font-family: 'Open Sans';
}

a {
    cursor: pointer;
}

a:hover {
    h3 {
        color: $corprimario;
    }
}
