<article class="top">
  <div class="container">
    <h2>Lista de Serviços</h2>
  </div>
</article>
<article class="container">

  <div *ngIf="(servicos$ | async) as servicos; else loading">
    <div class="col-sm-12 label-informcao panel-heading card-header">
      <label>Lista de Serviços Realizado</label>
      <div class="float-right">
        <button type="button" class="btn btn-primary mb-1 btn-sm" [routerLink]="['novo']"><i class="fas fa-plus"></i>
          Novo
          Serviço</button>
      </div>
    </div>


    <div class="panel-heading card-header accordion" *ngFor="let servico of servicos">
      <label>{{ servico.titulo }}</label>
      <span class="float-right">
          <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(servico.id)">
              <i class="fas fa-edit"></i> Atualizar
          </button>

          <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(servico)">
              <i class="fas fa-trash"></i> Remover
          </button>
        </span>
    </div>
  </div>


  <ng-template #loading>
    <i class="fas fa-spinner fa-pulse"></i><span> Carregando Cursos...</span>
  </ng-template>
</article>