@import 'top'
@import 'vars'

.infomacao
    border:  1px solid #ced4da
    margin-top: 1rem
    padding: 0.7rem 0.1rem


    span
        margin-top: -0.3rem
        margin-right:  -0.4rem

.label-informcao
    border-left: $sizeBorder solid $corprimario
    width: 100%
    label
        color: $corprimario
        font-family: 'Montserrat', sans-serif;



