@mixin f {
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-size: cover;

}

@mixin fundoImage(){
  background-image: url("src/assets/blue_pttrn.jpg");
  @include f();
}

@mixin FundoImagemBranco {
  background-image: url("src/assets/fundoBranco.jpg");
  @include f();
}

@mixin texto(){
  text-indent: 10px;
  font-family: $fontNormal;
  text-align: justify;
  line-height: 1.8;
}
