
//Cores de Texto
$corTexto: #333;
$corsegunda: #9faab2;

//Cores Gerais
$corprimario : #D32F2F;
$corfundo: #23305b;

$sizeBorder: 5px;

//Cor de Fundo
$corf1: darken($corfundo, 10%);
$corFundoEscuro: darken($corfundo, 5%);


//Font
$fontTitulo: 'Lato', sans-serif;
$fontNormal : 'Open Sans', sans-serif;

// Algumas Classes
.primario {
    background-color: $corprimario;
}

.fundo {
    background-color: $corfundo;
}
