@import 'vars'
@import 'accordion'

.container-fluid
  padding: 7px

article
  max-width: 100%

.col-6
  padding: 0.2rem

.servicos
  h2
    margin: 3rem 0
    text-align: center

  .botoes

    position: absolute
    height: 100%
    width: 97.8%
    padding-right: 15px

    button
      z-index: 1
      position: relative
      background-color: #000
      border: none
      color: #fff
      opacity: 0.3
      width: 3rem
      font-weight: 1000
      height: 100%


.scrolling-wrapper
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar
    display: none;
  .col-6
    display: inline-block;

  .card
    margin-right: 0.2rem
    height: 9rem
    font-size: 1.1rem
    flex: 0 0 auto;
    background-image: url("src/assets/blue_pttrn.jpg")
    background-repeat: no-repeat
    background-position: top left
    background-size: cover
    background-attachment: scroll
    color: #fff
    transition-duration: 0.5s
    border-bottom: 6px $corprimario solid

    p
      width: 100%
      height: 100%
      text-align: center
      white-space: pre-wrap
      padding-top: 15%
      font-family: $fontTitulo

  .card:hover
    background-image: none
    background-color: #fff
    color: $corfundo
    border-bottom: 4px $corfundo solid


h2
    font-family: 'Montserrat', sans-serif

p
    font-family: 'Open Sans'

.imagens

    align-items: center
    align-content: center

    .row
        padding-bottom: 0.5rem
    img
        height: 5rem

@media (min-width: 992px)
  .servicos
    .botoes
      padding-right: 0px
      width: 97.9%

  .scrolling-wrapper
    .card
      font-size: 1.5rem

      p
        padding-top: 10%



  .bd-example
    h5
      font-size: 4rem
      font-weight: 600
    h6
      font-size: 3rem

    h2
      font-family: 'Montserrat', sans-serif
      color: $cor
      font-size: 1.66667rem
      font-weight: 900
      margin-bottom: 2rem

  .imagens
    img
      width: 6rem
      height: 5rem
      padding-bottom: 1rem




.descricao
    font-size: 1rem
    color: $corTexto
    line-height: 1.8
    text-align:  justify


    p
        text-indent: 20px
        margin-top: 1rem !important

        span
            font-weight: 700




.dados
    margin: 4rem 0.2rem

.fundo
    background-image: url("src/assets/blue_pttrn.jpg")
    background-repeat: no-repeat
    background-position: top left
    background-size: cover
    background-attachment: scroll
    background-color: #2a4354

    h1
        color: #fff
        text-align: center
        font-family: 'Montserrat', sans-serif
        padding-bottom: 0.5rem
        font-size: 2rem
        padding-top: 1rem



.mapas
    h2
        font-family: 'Montserrat', sans-serif
        color: $cor
        font-size: 2rem
        font-weight: 900
        margin: 2rem 0
        text-align: center
    iframe
        width: 100%
        height: 40rem


