@import 'accordion';

.container-fluid {
    padding: 7px;
}

article {
    max-width: 100%;
}

.col-6 {
    padding: 0.2rem;
}

// Servicos
.servicos {
    h2 {
        margin: 3rem 0;
        text-align: center;
    }

    .botoes {
        position: absolute;
        height: 100%;
        width: 97.8%;
        padding-right: 15px;

        @media (min-width: 992px) {
            padding-right: 0px;
            width: 97.9%;
        }

        button {
            z-index: 1;
            position: relative;
            background-color: #000;
            border: none;
            color: #fff;
            opacity: 0.3;
            width: 3rem;
            font-weight: 1000;
            height: 100%;

            &:hover {
                opacity: 0.5
            }
        }


    }
}


.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }

    .col-6 {
        display: inline-block;
    }

    .card {
        margin-right: 0.2rem;
        height: 9rem;
        font-size: 1.1rem;
        flex: 0 0 auto;
        @include fundoImage();
        color: #fff;
        cursor: pointer;
        transition-duration: 0.5s;
        border-bottom: 6px $corprimario solid;

        p {
            width: 100%;
            height: 100%;
            text-align: center;
            white-space: pre-wrap;
            padding-top: 15%;
            font-family: $fontTitulo;
        }
    }

    .card:hover {
        background-image: none;
        background-color: #fff;
        color: $corfundo;
        border-bottom: 4px $corfundo solid;
    }
}


h2 {
    font-family: $fontTitulo
}

p {
    font-family: $fontNormal
}

.imagens {
    align-items: center;
    align-content: center;

    .row {
        padding-bottom: 0.5rem
    }

    img {
        height: 5rem
    }
}

.fotos {

    h5 {
        font-weight: 600;
        font-family: $fontTitulo;


        @media (min-width: 900px) {
            font-size: 2.9rem;
        }

        @media (min-width: 1200px) {
            font-size: 4rem;
        }
    }

    h6 {
        font-family: $fontTitulo;

        @media (min-width: 900px) {
          font-size: 2rem;
      }

      @media (min-width: 1200px) {
          font-size: 2.7rem;
      }
    }


}

@media (min-width: 992px) {

    .scrolling-wrapper {
        .card {
            font-size: 1.5rem;
        }

        p {
            padding-top: 10%;
        }
    }


    .imagens {
        img {
            width: 6rem;
            height: 5rem;
            padding-bottom: 1rem;
        }
    }
}


.descricao {
    font-size: 1rem;
    color: $corTexto;
    @include texto();

    p {
        @include texto();
        margin-top: 1rem !important;
    }

    span {
        font-weight: 700;
    }
}

.dados {

    padding: 4rem 1rem;
    margin-right: 0 !important;


}

.fundo {
    @include fundoImage();
    background-color: $corfundo;

    h1 {
        color: #fff;
        text-align: center;
        font-family: $fontTitulo;
        padding-bottom: 0.5rem;
        font-size: 2rem;
        padding-top: 1rem;
    }
}

.mapas {
    h2 {
        font-family: $fontTitulo;
        color: $corTexto;
        font-size: 2rem;
        font-weight: 900;
        margin: 2rem 0;
        text-align: center;
    }

    iframe {
        width: 100%;
        height: 40rem;
    }
}
