@import '~bootstrap/scss/bootstrap.scss';

@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';

@viewport {
    width: device-width;
    zoom: 1;
}

@font-face {
  font-family: 'Lato';
  font-display: auto;
  src: local('Lato'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh50XSwiPGQ.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-display: auto;
  src: local('Open Sans'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
}



